---
import '../styles/global.css';
import Footer from '../components/Footer.astro';
const { title } = Astro.props;
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{title} | NEXUS</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Michroma&family=Roboto+Mono:wght@300;400&family=Saira+Extra+Condensed:wght@200;300;400&display=swap" rel="stylesheet">
    </head>
	<body>
		<main>
			<slot /> </main>
		<Footer />
	</body>
</html>